
#home {
	background-image: url('~/images/home_background.png');
	background-repeat:no-repeat;
	background-size: cover;
}

.FontAwesome {
    font-family: FontAwesome;
    background-color: lightgray; 
}

.daysBtn{
	background-color: gray;
	width: 250;
	height: 60;
	margin-top: 10;
}